<h1>Add Compmany</h1>
<div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success..!</strong> Your data Add.
    <button type="button" (click)="closealert()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<form [formGroup]="addcompany" (ngSubmit)="collectcompany()">
    <div class="form-group">
        <label for="exampleInputEmail1">Company Id</label>
      
        <!-- <input type="Id" class="form-control" id="Id" formControlName="Id" placeholder="CompanyId">
      <label for="exampleInputEmail1">Company Name</label>
       -->
      <input type="CompanyName"pattern="[a-zA-Z]*"  class="form-control" required id="CompanyName" formControlName="name" placeholder="Enter The Company Name">
      <label for="exampleInputEmail1">Company Email</label>
      <input type="Email" class="form-control"  email id="Email1" required formControlName="Email"  placeholder="Enter The Email">
      
    </div>
    
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>